# Machine Learning Foundation

## Section 1, Part a: Reading Data

### Learning Objective(s)

 - Create a SQL database connection to a sample SQL database, and read records from that database
 - Explore common input parameters

### Packages

 - [Pandas](https://pandas.pydata.org/pandas-docs/stable/)
 - [Pandas.read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)
 - [SQLite3](https://docs.python.org/3.6/library/sqlite3.html)

## Simple data reads

Structured Query Language (SQL) is an [ANSI specification](https://docs.oracle.com/database/121/SQLRF/ap_standard_sql001.htm#SQLRF55514), implemented by various databases. SQL is a powerful format for interacting with large databases efficiently, and SQL allows for a consistent experience across a large market of databases. We'll be using sqlite, a lightweight and somewhat restricted version of sql for this example. sqlite uses a slightly modified version of SQL, which may be different than what you're used to.

In [3]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.8 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 816.2 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anush\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\anush\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
    --------------------------------------- 0.2/11.6 MB 5.9 MB/s eta 0:00:02
   --- ------------------------------------ 0.9/11.6 MB 14.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.3/11.6 MB 20.8 MB/s eta 0:00:01
   ---------- ----------------------------- 2.9/11.6 MB 23.2 MB/s eta 0:00:01
   ------------ --------------------------- 3.6/11.6 MB 19.2 MB/s eta 0:00:01
   ------------ --------------------------- 3.7/11.6 MB 18.2 MB/s eta 0:00:01
   ------------- -------------------------- 3.8/11.6 MB 15.2 MB/s eta 0:00:01
   -------------- ------------------------- 4.3/11.6 MB 14.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.6 MB 12.6 MB/s eta 0:00:01
   ---------------- ----------------------- 4.8/11.6 MB 12.4 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.6 MB 11.5 MB/s eta 0:00:01
   ------------------ --------------------- 5.2/11.6 MB 10.8 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.6 MB 10.3 MB/s eta 0:00:01
   ------------------ --------------------- 5.3/11.6 MB 9.5 MB/s eta 0:00:01
   ------------------- -------------------- 5.6/11.6 MB 9.7 MB/s eta 0:00:01
   -------------------- ------------------- 5.9/11.6 MB 9.4 MB/s eta 0:00:01
   -------------------- ------------------- 6.0/11.6 MB 8.7 MB/s eta 0:00:01
   -------------------- ------------------- 6.1/11.6 MB 8.5 MB/s eta 0:00:01
   --------------------- ------------------ 6.2/11.6 MB 8.4 MB/s eta 0:00:01
   ---------------------- ----------------- 6.5/11.6 MB 8.2 MB/s eta 0:00:01
   ----------------------- ---------------- 6.9/11.6 MB 8.3 MB/s eta 0:00:01
   ------------------------ --------------- 7.0/11.6 MB 8.2 MB/s eta 0:00:01
   ------------------------ --------------- 7.0/11.6 MB 8.2 MB/s eta 0:00:01
   ------------------------- -------------- 7.5/11.6 MB 7.8 MB/s eta 0:00:01
   -------------------------- ------------- 7.6/11.6 MB 7.7 MB/s eta 0:00:01
   --------------------------- ------------ 7.8/11.6 MB 7.6 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.6 MB 7.6 MB/s eta 0:00:01
   ---------------------------- ----------- 8.2/11.6 MB 7.4 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 7.3 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.6 MB 7.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.6 MB 7.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.8/11.6 MB 6.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 6.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 6.6 MB/s eta 0:00:01
   ------------------------------ --------- 9.0/11.6 MB 6.5 MB/s eta 0:00:01
   ------------------------------- -------- 9.1/11.6 MB 6.4 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 6.2 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 6.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.6 MB 6.0 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 5.9 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 5.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 5.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 5.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 5.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 5.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 5.2 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 5.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.6/11.6 MB 5.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.6/11.6 MB 5.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 4.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.6 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 3.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.9/11.6 MB 3.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.9/11.6 MB 3.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.9/11.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.6 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.8 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.6 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.6 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.6/11.6 MB 2.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.7/11.6 MB 2.5 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 11.0/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 2.4 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.6 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 2.3 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/12.9 MB 3.6 MB/s eta 0:00:04
    --------------------------------------- 0.2/12.9 MB 3.6 MB/s eta 0:00:04
   - -------------------------------------- 0.4/12.9 MB 3.7 MB/s eta 0:00:04
   - -------------------------------------- 0.5/12.9 MB 3.5 MB/s eta 0:00:04
   - -------------------------------------- 0.6/12.9 MB 3.6 MB/s eta 0:00:04
   -- ------------------------------------- 0.8/12.9 MB 3.6 MB/s eta 0:00:04
   -- ------------------------------------- 1.0/12.9 MB 3.6 MB/s eta 0:00:04
   --- ------------------------------------ 1.1/12.9 MB 3.5 MB/s eta 0:00:04
   --- ------------------------------------ 1.2/12.9 MB 3.5 MB/s eta 0:00:04
   ---- ----------------------------------- 1.4/12.9 MB 3.5 MB/s eta 0:00:04
   ---- ----------------------------------- 1.5/12.9 MB 3.5 MB/s eta 0:00:04
   ----- ---------------------------------- 1.7/12.9 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 1.8/12.9 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 1.8/12.9 MB 3.4 MB/s eta 0:00:04
   ------ --------------------------------- 2.0/12.9 MB 3.4 MB/s eta 0:00:04
   ------ --------------------------------- 2.1/12.9 MB 3.4 MB/s eta 0:00:04
   ------- -------------------------------- 2.3/12.9 MB 3.5 MB/s eta 0:00:04
   ------- -------------------------------- 2.5/12.9 MB 3.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.7/12.9 MB 3.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.8/12.9 MB 3.6 MB/s eta 0:00:03
   --------- ------------------------------ 3.0/12.9 MB 3.7 MB/s eta 0:00:03
   --------- ------------------------------ 3.1/12.9 MB 3.6 MB/s eta 0:00:03
   ---------- ----------------------------- 3.3/12.9 MB 3.7 MB/s eta 0:00:03
   ---------- ----------------------------- 3.5/12.9 MB 3.7 MB/s eta 0:00:03
   ----------- ---------------------------- 3.6/12.9 MB 3.7 MB/s eta 0:00:03
   ----------- ---------------------------- 3.8/12.9 MB 3.7 MB/s eta 0:00:03
   ------------ --------------------------- 4.0/12.9 MB 3.8 MB/s eta 0:00:03
   ------------ --------------------------- 4.2/12.9 MB 3.8 MB/s eta 0:00:03
   ------------- -------------------------- 4.4/12.9 MB 3.9 MB/s eta 0:00:03
   -------------- ------------------------- 4.6/12.9 MB 3.9 MB/s eta 0:00:03
   -------------- ------------------------- 4.8/12.9 MB 3.9 MB/s eta 0:00:03
   --------------- ------------------------ 5.0/12.9 MB 4.0 MB/s eta 0:00:03
   ---------------- ----------------------- 5.2/12.9 MB 4.0 MB/s eta 0:00:02
   ---------------- ----------------------- 5.4/12.9 MB 4.0 MB/s eta 0:00:02
   ----------------- ---------------------- 5.6/12.9 MB 4.0 MB/s eta 0:00:02
   ------------------ --------------------- 5.9/12.9 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.1/12.9 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 6.3/12.9 MB 4.2 MB/s eta 0:00:02
   -------------------- ------------------- 6.5/12.9 MB 4.2 MB/s eta 0:00:02
   -------------------- ------------------- 6.7/12.9 MB 4.3 MB/s eta 0:00:02
   --------------------- ------------------ 7.0/12.9 MB 4.3 MB/s eta 0:00:02
   ---------------------- ----------------- 7.2/12.9 MB 4.3 MB/s eta 0:00:02
   ---------------------- ----------------- 7.4/12.9 MB 4.3 MB/s eta 0:00:02
   ----------------------- ---------------- 7.5/12.9 MB 4.4 MB/s eta 0:00:02
   ------------------------ --------------- 7.8/12.9 MB 4.4 MB/s eta 0:00:02
   ------------------------ --------------- 8.0/12.9 MB 4.4 MB/s eta 0:00:02
   ------------------------- -------------- 8.3/12.9 MB 4.4 MB/s eta 0:00:02
   -------------------------- ------------- 8.4/12.9 MB 4.4 MB/s eta 0:00:02
   -------------------------- ------------- 8.7/12.9 MB 4.4 MB/s eta 0:00:01
   --------------------------- ------------ 8.9/12.9 MB 4.5 MB/s eta 0:00:01
   ---------------------------- ----------- 9.2/12.9 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 9.5/12.9 MB 4.5 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.9 MB 4.6 MB/s eta 0:00:01
   ------------------------------ --------- 9.9/12.9 MB 4.6 MB/s eta 0:00:01
   ------------------------------- -------- 10.3/12.9 MB 4.6 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.9 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.7/12.9 MB 4.7 MB/s eta 0:00:01
   --------------------------------- ------ 10.9/12.9 MB 4.5 MB/s eta 0:00:01
   --------------------------------- ------ 10.9/12.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.9 MB 4.4 MB/s eta 0:00:01
   ---------------------------------- ----- 11.1/12.9 MB 4.3 MB/s eta 0:00:01
   ---------------------------------- ----- 11.2/12.9 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.9 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 11.4/12.9 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 11.5/12.9 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 11.5/12.9 MB 4.3 MB/s eta 0:00:01
   ----------------------------------- ---- 11.5/12.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 11.6/12.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 11.8/12.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 11.9/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.1 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.0/12.9 MB 4.0 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.9 MB 3.5 MB/s eta 0:00:01
   ------------------------------------- -- 12.2/12.9 MB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 12.3/12.9 MB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 12.5/12.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  12.7/12.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  12.9/12.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------  12.9/12.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 3.4 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ---------------- ----------------------- 204.8/508.0 kB 6.3 MB/s eta 0:00:01
   ------------------------------ --------- 389.1/508.0 kB 4.9 MB/s eta 0:00:01
   ---------------------------------------- 508.0/508.0 kB 4.6 MB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------------------- ------------------ 184.3/346.6 kB 5.4 MB/s eta 0:00:01
   ---------------------------------------- 346.6/346.6 kB 4.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\anush\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pdP

### Database connections

Our first step will be to create a connection to our SQL database. A few common SQL databases used with Python include:

 - Microsoft SQL Server
 - Postgres
 - MySQL
 - AWS Redshift
 - AWS Aurora
 - Oracle DB
 - Terradata
 - Db2 Family
 - Many, many others
 
Each of these databases will require a slightly different setup, and may require credentials (username & password), tokens, or other access requirements. We'll be using `sqlite3` to connect to our database, but other connection packages include:

 - [`SQLAlchemy`](https://www.sqlalchemy.org/) (most common)
 - [`psycopg2`](http://initd.org/psycopg/)
 - [`MySQLdb`](http://mysql-python.sourceforge.net/MySQLdb.html)

In [2]:
import zipfile
import os
import sqlite3 as sq3

# Path to the ZIP file and destination folder
zip_path = r'C:\Users\anush\Desktop\wawa.zip'
extract_folder = r'C:\Users\anush\Desktop\wawa_extracted'

# Step 1: Extract the ZIP file
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

# Step 2: Initialize path to the extracted SQLite database
db_path = os.path.join(extract_folder, 'data', 'classic_rock.db')

# Step 3: Connect to the SQLite database
con = sq3.Connection(db_path)

# Now, we have a live connection to our SQL database
print("Connected to the SQLite database.")

Connected to the SQLite database.

### Reading data

Now that we've got a connection to our database, we can perform queries, and load their results in as Pandas DataFrames

In [4]:
# Write the query
query = '''
SELECT * 
FROM rock_songs;
'''

# Execute the query
observations = pds.read_sql(query, con)

observations.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

In [5]:
# We can also run any supported SQL query
# Write the query
query = '''
SELECT Artist, Release_Year, COUNT(*) AS num_songs, AVG(PlayCount) AS avg_plays  
    FROM rock_songs
    GROUP BY Artist, Release_Year
    ORDER BY num_songs desc;
'''

# Execute the query
observations = pds.read_sql(query, con)

observations.head()

         Artist  Release_Year  num_songs  avg_plays
0   The Beatles        1967.0         23   6.565217
1  Led Zeppelin        1969.0         18  21.000000
2   The Beatles        1965.0         15   3.800000
3   The Beatles        1968.0         13  13.000000
4   The Beatles        1969.0         13  15.000000

## Common parameters

There are a number of common paramters that can be used to read in SQL data with formatting:

 - coerce_float: Attempt to force numbers into floats
 - parse_dates: List of columns to parse as dates
 - chunksize: Number of rows to include in each chunk
 
Let's have a look at using some of these parameters

In [6]:
query='''
SELECT Artist, Release_Year, COUNT(*) AS num_songs, AVG(PlayCount) AS avg_plays  
    FROM rock_songs
    GROUP BY Artist, Release_Year
    ORDER BY num_songs desc;
'''

# Execute the query
observations_generator = pds.read_sql(query,
                            con,
                            coerce_float=True, # Doesn't efefct this dataset, because floats were correctly parsed
                            parse_dates=['Release_Year'], # Parse `Release_Year` as a date
                            chunksize=5 # Allows for streaming results as a series of shorter tables
                           )

for index, observations in enumerate(observations_generator):
    if index < 5:
        print(f'Observations index: {index}'.format(index))
        display(observations)

Observations index: 0

         Artist        Release_Year  num_songs  avg_plays
0   The Beatles 1970-01-01 00:32:47         23   6.565217
1  Led Zeppelin 1970-01-01 00:32:49         18  21.000000
2   The Beatles 1970-01-01 00:32:45         15   3.800000
3   The Beatles 1970-01-01 00:32:48         13  13.000000
4   The Beatles 1970-01-01 00:32:49         13  15.000000

Observations index: 1

         Artist        Release_Year  num_songs  avg_plays
0  Led Zeppelin 1970-01-01 00:32:50         12  13.166667
1  Led Zeppelin 1970-01-01 00:32:55         12  14.166667
2    Pink Floyd 1970-01-01 00:32:59         11  41.454545
3    Pink Floyd 1970-01-01 00:32:53         10  29.100000
4     The Doors 1970-01-01 00:32:47         10  28.900000

Observations index: 2

          Artist        Release_Year  num_songs  avg_plays
0  Fleetwood Mac 1970-01-01 00:32:57          9  35.666667
1   Jimi Hendrix 1970-01-01 00:32:47          9  24.888889
2    The Beatles 1970-01-01 00:32:43          9   2.444444
3    The Beatles 1970-01-01 00:32:44          9   3.111111
4     Elton John 1970-01-01 00:32:53          8  18.500000

Observations index: 3

           Artist        Release_Year  num_songs  avg_plays
0    Led Zeppelin 1970-01-01 00:32:51          8  47.750000
1    Led Zeppelin 1970-01-01 00:32:53          8  34.125000
2          Boston 1970-01-01 00:32:56          7  69.285714
3  Rolling Stones 1970-01-01 00:32:49          7  36.142857
4       Van Halen 1970-01-01 00:32:58          7  51.142857

Observations index: 4

                         Artist        Release_Year  num_songs  avg_plays
0             Bruce Springsteen 1970-01-01 00:32:55          6   7.666667
1             Bruce Springsteen 1970-01-01 00:33:04          6  11.500000
2  Creedence Clearwater Revival 1970-01-01 00:32:49          6  23.833333
3  Creedence Clearwater Revival 1970-01-01 00:32:50          6  18.833333
4                   Def Leppard 1970-01-01 00:33:07          6  32.000000

### Machine Learning Foundation (C) 2020 IBM Corporation